/*
 * [ base / default ]
 */

// -----------------------------------------------------------------------------

.pkp-app {
    position: relative;
    box-shadow: 0px 0px 10px rgba(120, 120, 120, 0.5);
    padding: 8px;
}

.pkp-top-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.pkp-map {
    position: relative;
    overflow: hidden;
}

.pkp-map-container {
    z-index: 1;
}
