/*
 * [ settings / colors ]
 */

// -----------------------------------------------------------------------------

$primary : darkred;

$gray-light : #f3f4f6;
$gray-base : #ecedee;
$gray-dark : #D5D5D5FF;
$gray-darker : #8f8f8f;
$gray-darkest : #4b4b4b;
