/*
 * [ components / scrollbar ]
 */

// -----------------------------------------------------------------------------

.pkp-scrollbar {
    scrollbar-color: $primary #F5F5F5;
}

.pkp-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.pkp-scrollbar::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.pkp-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: $primary;
}

.pkp-scrollbar--light::-webkit-scrollbar-track {
    border-radius: 8px;
}

.pkp-scrollbar--light::-webkit-scrollbar {
    width: 6px;
}

.pkp-scrollbar--light::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

