/*
 * [ components / loader ]
 */

// -----------------------------------------------------------------------------


.Loader-block {
    background-color: $gray-light;
    background: linear-gradient(
                    100deg,
                    rgba(255, 255, 255, 0) 40%,
                    rgba(255, 255, 255, .5) 50%,
                    rgba(255, 255, 255, 0) 60%
    ) $gray-light;
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s bg-loading ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bg-loading {
    to {
        background-position-x: -20%;
    }
}
